<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
    {%endblock%}
</head>
<body>
        <!-- 插入到页面标题上方 -->
        {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
        {% endfor %}
        <h2>
            <img class="avatar" alt='avatar' src="{{url_for('static',filename='images/avatar.png')}}">
            {{ user.name }}'s Watchlist
        </h2>
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">首页</a></li>
                {%if current_user.is_authenticated%}
                    <li><a href="{{ url_for('settings') }}">设置</a></li>
                    <li><a href="{{ url_for('logout') }}">退出</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">登陆</a></li>
                {% endif %}
                <li><a href="{{ url_for('contents') }}">留言</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
        <footer>

        </footer>
</body>
</html>
<style>
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}
</style>